@import "tailwindcss";

@theme {
  --color-brand-blue: #3b82f6;
  --color-page-bg: #f3f4f6;
  --color-surface: #ffffff; /* Kartların arka planı için beyaz */
}

body {
  background-color: var(--color-page-bg);
  /* Tailwind sınıflarını doğrudan CSS içinde kullanmak için: */
  @apply antialiased text-gray-900; 
}